@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cormorant: "Cormorant Garamond", serif; 
}


  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  body {
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

body.hydrated {
  opacity: 1;
}

/* Loading state üçün (optional) */
body:not(.hydrated) {
  overflow: hidden;
}



